@model MvcTwitterB.Models.DateTest
@using Twitter.Bootstrap.HtmlHelpers;
@{
	ViewBag.Title = "title";
}

<h2>title</h2>
<form method="GET" role="form" class="form-horizontal">
@Html.DatepickerRowFor(m => m.Date1,  new { @data_date_format = "dd-mm-yyyy"})
	@Html.DatepickerRowFor(m => m.Date2,  new { @data_date_format = "dd-mm-yyyy"})

	<button type="submit">Search</button>
	</form>
@section Scripts
{
	<script>
	$(function() {
		$('.date').datepicker();
	});
	
</script>
}
