@using System.Web.Configuration
@using Twitter.Bootstrap.HtmlHelpers
@model MvcTwitterB.Models.PagedResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<div>
		@Html.TextBoxRowFor(m=>m.PageCount)
		@Html.DropDownListRowFor(m=>m.PageIndex, new SelectList( ))
		@Html.TbPaging(Model.PageCount, int.Parse("0" + Request["PageIndex"]))
	</div>
</body>
</html>
