@using Twitter.Bootstrap.HtmlHelpers
@model MvcTwitterB.Models.PagedResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.TbPaging(Model.PageCount, int.Parse(Request["PageIndex"]))
    </div>
</body>
</html>
